<ul class="breadcrumb">
    <li><a href="#/">Home</a> <span class="divider">/</span></li>
    <li><a href="#/lists/index">Lists</a> <span class="divider">/</span></li>
    <li class="active">{{list.internaltitle}} - [{{list.title}}]</li>
</ul>

<div class="alert alert-warning" ng-show="working">
    Working ... 
</div>

<div class="alert alert-warning" ng-show="!list.table_exists">
    <strong>Table not exists !</strong> the table of this list is not found in the database
</div>

<div class="alert alert-success" ng-show="saved">
    <strong>List saved</strong>
</div>

<form ng-submit="save()">
    <div class="row-fluid">
        <div class="span5">
            <dl class="dl-horizontal">
                <dt>Title</dt>
                <dd>
                    <input type="text" ng-model="list.title" />
                </dd>

                <dt>List Internal Title</dt>
                <dd><input type="text" ng-model="list.internaltitle" /></dd>

                <dt>Mapped Table</dt>
                <dd>{{list.mapped_table}}</dd>

                <dt>Description</dt>
                <dd><textarea ng-model="list.description" ></textarea></dd>

                <dt>Is Published ?</dt>
                <dd><input name="ispublished" ng-model="list.ispublished" ng-checked="list.ispublished" type="checkbox"/></dd>
            </dl>
        </div>
        <div class="span7">
            <strong>List fields</strong>
            <p ng-show="list.fields.length">
                <input type="text" class="span3" ng-model="searchField" placeholder="Search the fields..."/>
            </p>
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Title</th>
                    <th>Type</th>
                    <th></th>
                </tr>
                <tr ng-repeat="field in list.fields | filter:searchField">
                    <td>{{field.title}}</td>
                    <td>{{field.type | type}}</td>
                    <td>
                        <a href="#/lists/{{list.id}}/editfield/{{field.id}}" class="btn btn-mini">Edit</a>
                        <a href="#/lists/{{list.id}}/deletefield/{{field.id}}" class="btn btn-mini btn-danger">Delete</a>
                    </td>
                </tr>
            </table>

            <p class="pull-right">
                <a href="#/lists/{{list.id}}/newfield" class="btn btn-small btn-primary">Add field</a>
            </p>
        </div>
    </div>
    <hr/>

    <p class="pull-right">
        <button ng-disabled="working" type="submit" class="btn btn-primary">Save</button>
        <a ng-disabled="working" class="btn" href="#/lists/index">Back</a>
    </p>
</form>