<ng-include src="'../partials/tmpl/sidebar.html'"></ng-include>
<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <h3 class="page-title">{{list.title}}<small>Edit </small></h3>
        </div>
    </div>


    <ul class="page-breadcrumb breadcrumb">
        <li class="btn-group">
            <button type="button" class="btn blue dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                <span>Actions</span> <i class="icon-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li><a href="#/modules/{{list.id}}/index">Go to module</a></li>
            </ul>
        </li>
        <li>
            <i class="icon-home"></i>
            <a href="#/index">Dashboard</a> 
            <i class="icon-angle-right"></i>
        </li>
        <li>
            <a href="#/lists/index">Lists</a> 
            <i class="icon-angle-right"></i>
        </li>
        <li>{{list.title}} <small class="muted">(Edit)</small></li>
    </ul>

    <div class="alert alert-warning" ng-show="working">
        Working ... 
    </div>

    <div class="alert alert-warning" ng-show="!list.table_exists">
        <strong>Table not exists !</strong> the table of this list is not found in the database
    </div>

    <div class="alert alert-success" ng-show="saved">
        <strong>List saved</strong>
    </div>

    <form name="form" role="form" ng-submit="save()">
        <div class="row">
            <div class="col-md-8">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-reorder"></i> List Information
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="form-body">
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" ng-required="true" ng-model="list.title" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Internal Title</label>
                                <input type="text" ng-model="list.internaltitle" class="form-control" disabled="disabled" />
                            </div>
                            <div class="form-group">
                                <label>Mapped Table</label>
                                <input type="text" ng-model="list.mapped_table" class="static form-control" disabled="disabled" />
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea type="text" ng-model="list.description" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Is Published ?</label>
                                <input name="ispublished" ng-model="list.ispublished" ng-checked="list.ispublished" type="checkbox"/>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-reorder"></i> Attributes
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="form-body">
                            <div class="form-group">
                                <label>Css Class Name</label>
                                <input type="text" class="form-control" ng-model="list.attrs.cssClass" />
                            </div>
                            <div class="form-group">
                                <label class="">Available Views:</label>
                                <div class="checkbox-list">
                                    <label>
                                        <span checkbox ng-model="list.attrs.view_create"></span> Create
                                    </label>
                                    <label>
                                        <span checkbox ng-model="list.attrs.view_edit"></span> Edit
                                    </label>
                                    <label>
                                        <span checkbox ng-model="list.attrs.view_delete"></span> Delete
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="portlet box grey">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-reorder"></i> List Fields
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <table class="table table-bordered table-full-width">
                            <thead>
                            <td><small>Drag To Sort</small></td>
                            <th>Title</th>
                            <th>Internal Title</th>
                            <th>Type</th>
                            <th>Description</th>
                            <th>Attributes</th>
                            <th>Is Published</th>
                            <th></th>
                            </thead>
                            <tbody class="fields-body">
                                <tr ng-repeat="field in list.fields">
                                    <td><a class="handle btn btn-default"><i class="icon-sort"></i></a></td>
                                    <td><input type="required" ng-model="field.title" min-length="2" /></td>
                                    <td>{{field.internaltitle}}</td>
                                    <td><span marker:typeMatcher metadata="{{field}}"></span></td>
                                    <td><textarea ng-model="field.description"></textarea></td>
                                    <td><textarea ng-model="field.attrs"></textarea></td>
                                    <td><span checkbox ng-model="field.ispublished"></span></td>
                                    <td><a href="#/lists/{{list.id}}/deletefield/{{field.id}}" class="btn btn-mini btn-danger">Delete</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-actions right">
                        <a href="#/lists/{{list.id}}/newfield" class="btn btn-small btn-primary">Add field</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-actions right">
            <button ng-disabled="working || !form.$valid" type="submit" class="btn btn-primary">Save</button>
            <a ng-disabled="working" class="btn default" href="#/lists/index">Back</a>
        </div>
    </form>
</div>