<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">Lists Module</a>
        <ul class="nav">
            <li><a href="#/lists/create">New list</a></li>
        </ul>
    </div>
</div>

<p>
    Search Lists :
    <input type="text" ng-model="searchText.title" placeholder="Search ..." class="pull-right" />
</p>

<table class="table table-hover">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Mapped Table</th>
        <th>Published ?</th>
        <th>Created By</th>
        <th>Actions</th>
    </tr>

    <tr ng-repeat="list in lists | filter:searchText">
        <td>{{list.id}}</td>
        <td>{{list.title}}</td>
        <td>{{list.mapped_table}}</td>
        <td>{{list.ispublished | checkmark}}</td>
        <td>{{list.createdby}}</td>
        <td>
            <a class="btn" href="#/lists/view/{{list.id}}" >View</a>
            <a class="btn" href="#/lists/edit/{{list.id}}" >Edit</a>
            <a class="btn" href="#/lists/delete/{{list.id}}" >Delete</a>
        </td>
    </tr>

</table>