<ng-include src="'api/partials/static/sidebar'"></ng-include>
<div class="page-content">
    
    <div class="row">
        <div class="col-md-12">
            <h3 class="page-title">{{user.login}}</h3>
        </div>
    </div>

    <ul class="page-breadcrumb breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="#/index">Dashboard</a> 
            <i class="icon-angle-right"></i>
        </li>
        <li>
            <a href="#/users/index">Users</a> 
            <i class="icon-angle-right"></i>
        </li>
        <li>{{user.login}} <small>(Edit)</small></li>
    </ul>

<div class="alert alert-success" ng-show="success">
    <strong>User saved</strong>
</div>

<form name="form">
    <div class="row-fluid">
        <div class="span5">
            <dl class="dl-horizontal">
                <dt>Login</dt>
                <dd>
                    <input type="text" ng-required="true" ng-model="user.login" />
                </dd>
                <dt>Password</dt>
                <dd>
                    <input type="password" ng-required="true" ng-model="user.password" />
                </dd>
                <dt>Description</dt>
                <dd><textarea ng-model="user.description" ></textarea></dd>
            </dl>
        </div>
        <div class="span7">
            <strong>Member Of:</strong>
            <select ng-model="user.roles" multiple="multiple">
                <option value="{{role.id}}" ng-repeat="role in roles" ng-selected="user.roles.indexOf(role.id) > -1">{{role.role}}</option>
            </select>
        </div>
    </div>

    <hr/>
    <p class="pull-right">
        <button ng-disabled="working" type="button" ng-click="save()" class="btn btn-primary">save</button>
        <a ng-disabled="working" href="#/users/index" class="btn">Back</a>
    </p>
</form>
</div>