<ul class="breadcrumb">
    <li><a href="/ci/">Control Panel</a> <span class="divider">/</span></li>
    <li><a href="/ci/admin/#/members/index">members</a> <span class="divider">/</span></li>
    <li class="active">{{member.login}}</li>
</ul>

<div class="alert alert-warning" ng-show="working">
    Working ... 
</div>

<div class="alert alert-success" ng-show="success">
    <strong>User saved</strong>
</div>

<form name="form">
    <div class="row-fluid">
        <div class="span5">
            <dl class="dl-horizontal">
                <dt>Login</dt>
                <dd>
                    <input type="text" ng-required="true" ng-model="member.login" />
                </dd>
                <dt>Password</dt>
                <dd>
                    <input type="password" ng-required="true" ng-model="member.password" />
                </dd>
                <dt>Description</dt>
                <dd><textarea ng-model="member.description" ></textarea></dd>
            </dl>
        </div>
        <div class="span7">
            <strong>Member Of:</strong>
            <pre>{{member.roles}}</pre>
            <select ng-model="member.roles" ng-multiple="true">
                <option value="{{role.id}}" ng-repeat="role in roles" ng-selected="member.roles.indexOf(role.id) > -1">{{role.role}}</option>
            </select>
        </div>
    </div>

    <hr/>
    <p class="pull-right">
        <button ng-disabled="working" type="button" ng-click="save()" class="btn btn-primary">save</button>
        <a ng-disabled="working" href="#/members/index" class="btn">Back</a>
    </p>
</form>