<div class="row">
    <div class="span3 visible-desktop">
        <div ng-include src="'../partials/controls/side.html'"></div>
    </div>
    <div class="span9">
		<h3>Administration Panel</h3>
		<p>Click on the modules that you want to manage</p>
        <div class="row-fluid">
            <ul class="unstyled modules">
                <li ng-repeat="item in links" class="module">
                    <a href="#/{{item.link}}" class="thumbnail">
                        <div class="caption">
                            <h4>{{item.title}}</h4>
                            <p>{{item.description}}</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
