<h1>Modules</h1>
<div class="row">
    <div class="span3">
        <div ng-include src="'../partials/controls/side.html'"></div>
    </div>
    <div class="span9">
        <div class="row-fluid">
            <ul class="thumbnails">
                <li ng-repeat="module in modules" class="span3">
                    <div class="thumbnail">
                        <img alt="pages" style="height: 200px;" src="../assets/admin/img/icons/pages.png">
                        <div class="caption">
                            <h3>{{module.title}}</h3>
                            <p>{{module.description}}</p>
                            <p><a href="#/modules/{{module.id}}/index" class="btn btn-primary">Enter</a></p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
