<div class="mk-uploader">
    <!--<input type="file" ng-file-select="onFileSelect($files)" >-->
    <input type="file" ng-file-select="onFileSelect($files)" multiple>
    
    <div ng-file-drop="onFileSelect($files)" 
         ng-file-drag-over-class="optional-css-class"
         ng-show="dropSupported">
        <p>Drop file here</p>
    </div>

    <div ng-file-drop-available="dropSupported=true" 
         ng-show="!dropSupported">HTML5 Drop File is not supported!</div>



    <div ng-show="selectedFiles != null">
        <div class="sel-file" ng-repeat="f in selectedFiles">
            <div class="progress">						
                <div style="width:{{progress[$index]}}%">{{progress[$index]}}%</div>
            </div>				
            <a class="btn btn-default" ng-click="upload[$index].abort();
                    upload[$index] = null" 
               ng-show="upload[$index] && progress[$index] < 100">Abort</a>
            {{f.name}} - size: {{f.size}}B - type: {{f.type}}
        </div>
    </div>
    <div class="response" ng-show="uploadResult.length > 0">
        Server Response:
        <ul>
            <li ng-repeat="result in uploadResult track by $index">
                <img ng-src="{{result.path}}" width="100" />
                <p>
                    mime: {{result.meta.mime}}<br/>
                    size: {{result.meta.size}}<br/>
                    width: {{result.meta.width}}<br/>
                    height: {{result.meta.height}}<br/>
                </p>
            </li>
        </ul>
    </div>

    {{uploadResult}}
    <a class="btn btn-default" ng-click="upload.abort()">Cancel Upload</a>
</div>