<div>
    <h4>Short Text Attributes</h4>
    <dl class="dl-horizontal">

        <dt>Default Value</dt>
        <dd>
            <input type="text"  ng-model="attrs.default" />
        </dd>
        <dt>Maximum Length</dt>
        <dd>
            <input type="text" ng-model="attrs.maxlength" />
        </dd>
        <dt>Minimum Length</dt>
        <dd>
            <input type="text" ng-model="attrs.minlength" />
        </dd>
        <dt>Required</dt>
        <dd>
            <span checkbox ng-model="attrs.required"></span>
        </dd>

        <dt>Validation</dt>
        <dd>
            <select ng-model="attrs.validation" ng-options="v for v in ['email','url','regex']">
                <option value="">no validation</option>
            </select>
            <p>
                <input type="text" class="input" placeholder="regular expression" ng-required="attrs.validation == 'regex'" ng-show="attrs.validation == 'regex'" ng-model="attrs.validation_regex" />
            </p>
            <p>
                <textarea placeholder="validation message" ng-show="attrs.validation" ng-model="attrs.validation_message" ></textarea>
            </p>
        </dd>
    </dl>
</div>