<div>
    <h4>Short Text Attributes</h4>
    <dl class="dl-horizontal">
        <dt>Default Value</dt>
        <dd>
            <input type="text"  ng-model="attrs.default" />
        </dd>
        <dt>Maximum Length</dt>
        <dd>
            <input type="text" ng-model="attrs.maxlength" />
        </dd>
        <dt>Minimum Length</dt>
        <dd>
            <input type="text" ng-model="attrs.minlength" />
        </dd>
        <dt>Required</dt>
        <dd>
            <input type="checkbox" ng-model="attrs.required" />
        </dd>
    </dl>
</div>