<ng-include src="'api/partials/static/sidebar'"></ng-include>
<div class="page-content">
    
<ul class="breadcrumb">
    <li><a href="#/">Home</a> <span class="divider">/</span></li>
    <li><a href="#/entities">Entities</a> <span class="divider">/</span></li>
    <li><a href="#/entities/view/{{entity.id}}">{{entity.title}}</a> <span class="divider">/</span></li>
    <li class="active">{{field.title}}</li>
</ul>

<div class="alert alert-warning" ng-show="working">
    Working ... 
</div>

<div class="alert alert-success" ng-show="saved">
    <strong>Field saved :</strong> {{field.title}}
</div>

<form name="form">
    <div class="row-fluid">
        <div class="span5">
            <dl class="dl-horizontal">
                <dt>Title</dt>
                <dd>
                    <input type="text" ng-required="true" ng-model="field.title" />
                </dd>

                <dt>Type</dt>
                <dd>
                    <select ng-model="field.type" 
                    ng-options="row.reference as row.type group by row.category for row in types"></select>
                </dd>

                
                <dt>Description</dt>
                <dd><textarea ng-model="field.description" ></textarea></dd>
                
                <dt>Is Published ?</dt>
                <dd><input name="ispublished" ng-checked="page.ispublished" type="checkbox"/></dd>
            </dl>
        </div>
        <div class="span7" ng-switch="field.type > 0">
            <div ng-switch-when="true">
                <div ng-include src="'../partials/controls/fields/' + field.type + '.html'"></div>
            </div>
        </div>
    </div>
    <pre>{{attrs}}</pre>


    <hr/>
    <p class="pull-right">
        <button ng-disabled="working || !form.$valid" type="button" ng-click="addField()" class="btn btn-primary">Add field</button>
        <a href="#/entities/edit/{{entity.id}}" class="btn">Back</a>
    </p>
</form>
</div>