<div class="upload-control" ng-show="(files.length + uploaded.length) < max">
    <div class="row">

    </div>
    <div class="dropbox" ng-class="dropClass">
        <span>{{dropText}} Or</span> 
        <input type="file" ng-model-instant id="fileToUpload" multiple onchange="angular.element(this).scope().setFiles(this)" />
    </div>
</div>
<div ng-show="files.length">
    <table class="table table-condensed table-hover" style="width: auto">
        <tr ng-repeat="file in files">
            <td><strong>{{file.webkitRelativePath || file.name}}</strong></td>
            <td>
                (<span ng-switch="file.size > 1024*1024">
                    <span ng-switch-when="true">{{file.size / 1024 / 1024 | number:2}} MB</span>
                    <span ng-switch-default>{{file.size / 1024 | number:2}} kB</span>
                </span>)
            </td>
            <td><a class="btn btn-mini btn-danger" ng-click="removeFile(this)" >remove</a></td>
        </tr>
    </table>
    <p>
        <input type="button" class="btn btn-mini btn-info" ng-hide="working" ng-click="uploadFile()" value="Upload" />
    </p>
    <div ng-show="progressVisible">
        <div class="percent">{{progress}}%</div>
        <div class="progress progress-striped active">
            <div class="bar" ng-style="{'width': progress+'%'}"></div>
        </div>
    </div>
</div>
<div ng-show="uploaded.length">
    <table class="table table-condensed table-hover" style="width: auto">
        <tr ng-repeat="file in uploaded">
            <td>
                <a ng-href="/ci{{file[0].full_path}}" target="_blank">
                    <strong title="{{file.length-1}} replication(s)"><i class="icon-ext-{{file[0].ext}}"></i>{{file[0].name}}</strong>
                </a>
            </td>
            <td>
                (<span ng-switch="file[0].size > 1024*1024">
                    <span ng-switch-when="true">{{file[0].size / 1024 / 1024 | number:2}} MB</span>
                    <span ng-switch-default>{{file[0].size / 1024 | number:2}} kB</span>
                </span>)
            </td>
            <td><a class="btn btn-mini btn-danger" ng-click="removeFile(this, true)" >remove</a></td>
        </tr>
    </table>
</div>
<div class="alert" ng-show="errors.length">
    <ul>
        <li ng-repeat="error in errors">{{error}}</li>
    </ul>
</div>
<div class="alert" ng-show="warnings.length">
    <ul>
        <li ng-repeat="warning in warnings">{{warning}}</li>
    </ul>
</div>