<input type="file" name="files" multiple />
<table class="files table table-condensed">
    <tr ng-repeat="data in ngModel">
        <td>
            <a class="file" target="_blank" ng-href="../{{data[0].full_path}}">
                <img class="thumb" ng-src="../{{data[0].full_path}}" />
            </a>
        </td>
        <td>
            <ul class="unstyled replications">
                <li ng-repeat="replication in data">
                    <a title="{{replication.size}}" href="../{{replication.full_path}}">{{replication.full_path | filename}}</a>
                </li>
            </ul>
        </td>
        <td>
            <a class="btn btn-mini btn-danger" ng-click="removeFile(data, true)">Remove</a>
        </td>
    </tr>
    <tr ng-repeat="data in queue">
        <td>
            <a class="file" target="_blank" ng-href="{{data.response().result.upload_data[0][0].full_path}}" ng-switch on="data.state()">
                <div ng-switch-default class="progress progress-success progress-striped">
                    <div class="bar" style="width:{{data.getProgress()}}%"></div>
                </div>
                <div ng-switch-when="resolved">
                    <img class="thumb" ng-src="../{{data.response().result.upload_data[0][0].full_path}}" />
                </div>
            </a>
        </td>
        <td colspan="2">
            <ul class="unstyled replications">
                <li>Uploading {{data.files[0].name}}...</li>
            </ul>
        </td>
    </tr>
</table>